.container {
  height: 100%;
  overflow-y: auto;
  @media (max-width: 1024px) {
    padding: 12% 0;
  }
  @media (max-width: 500px) {
    padding: 25% 0;
  }
}

.projectsGrid {
  --cols: 4;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 3vw;
  margin-top: 2vh;

  @media (max-width: 1024px) {
    --cols: 2;
    gap: 7.5vw;
  }
  @media (max-width: 500px) {
    --cols: 1;
    gap: 15vw;
  }
}
