.languageButton {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 999px;

  & span {
    color: var(--text-color);
    user-select: none;
    pointer-events: none;
  }
}

.langBtn {
  background: transparent;
  cursor: pointer;
  border: none;
  border-radius: 999px;
  padding: 1vh;
  margin: 0 0.5vw;
  font-size: var(--text-size);
  font-weight: var(--title-weight);
  color: var(--text-color);
  transition: background 0.3s ease;

  &.active {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:hover:not(.active) {
    background: rgba(255, 255, 255, 0.3);
  }
}
